li{
    text-decoration: none;
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    line-height: 10vh;
    box-shadow: rgba(50, 50, 93, 0.23)0 30px 30px -28px;
}

.logo{
    font-size: 30px;
    justify-content: space-between;
}




.container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
